<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
		<div id='app'>
			{{message}}
			<p> 姓名：{{name}}</p>
			<p> 性别：{{sex}}</p>
			<p>
			  姓名：{{userInfo.name}}<br/>
			  性别：{{userInfo.sex}}
			</p>
		    <div v-html="html5"></div>
		    <button @click="my(name)">请点击</button>
		    <div>
			    组件：
			    <my ></my >
			    <my22></my22>
		    </div>
		    <div>
		    	vue:指令<br/>
		    	<p v-show="isStudents">这是v-show指令出来的内容....</p>
		    	<p v-if="1==1">这是v-if为真时出来的内容....</p>
		    	<p v-else>这是v-else为假时出来的内容....</p>
                 <ul>
                 	<li v-for="(item,index) in students">
                 		序号:{{index}},姓名:{{item.name}},性别:
                 		<span v-if='item.sex=="women"'>女</span>
                 		<span v-else>男</span>
                 	</li>
                 </ul>
               <!--   数据双向绑定 -->
               <input v-model='message' placeholder="edit me">
               <p>Message is:{{message}}</p>
		    </div>
		</div>
      <script type='text/javascript'>

      Vue.component('my',{
      	template:'<div style=color:red>这是一个全局的组件内容......</div>'
      })
      //定义一个变量自定义来保存着这个实例
      var Child2 = {
  		  template: '<div style="color: #ccc">这是局部注册的组件内容....!</div>'
  		}

      //实例化一个vue实例，然后使用app来存着这个实例
      	var app = new Vue({
      		el:'#app',//el就是element元素，表示vue实例的作用于范围
      		data:{//data是定义vue实例内的数据。内部的属性名可自定义，属性可以使任何的js数据类型
      			
      		  message:'Hello Vue!',
      		  name:'李斯',
      		  sex:'男',
              isStudents:true,
              userInfo:{
              	name:'李四',
              	sex:'女',
              },
              students:[
              {name:'张三',sex:'women'},
              {name:'李斯',sex:'man'}
              ],
              studentsName:['小明','小红','小将'],
              'html5':'<p style="color:blue">这是蓝色的字体</p>'
      		},
	         methods:{//vue实例的方法集，对象中可以自定义N个方法，然后html中通@ckick调用
	         	my: function(name){
	         		alert('嘿嘿'+name+'你被点击中了')
	         	}
	         },
	         components:{//vue实例的方法集合（局部注册）
	         	//<my22>将只在父模板可用
	         	//左侧的是属性名，也是所谓的组件名
	         	'my22': Child2
	         }
      	})
      </script>	
</body>
</html>